/* Responsive snacks section */
#snacks img {
     transition: transform 0.3s ease;
     width: 100%;
     height: 200px; /* or 250px depending on your design */
     object-fit: cover;
     border-radius: 10px;
     margin: 0 auto;
}
#snacks img:hover {
     transform: scale(1.05);
}

.snack-price {
    color: #d2691e;
    font-weight: bold;
}
